HI : {{repoName}}

<div class="repos-list panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left">
      Files
    </h4>
  </div>
  <table class="files-list table table-hover">
    <tr *ngFor="let file of files ;trackBy: trackId">
      <td>
          <i *ngIf="file.size!=='-'" class="fa fa-file-text-o"></i>
          <i *ngIf="file.size==='-'" class="fa fa-folder-o"></i>
      </td>
      <td>
          <!-- repo/:name/tree/master/*path -->
        <a *ngIf="file.size==='-'" [href]="getLink(repoName,path,file.name)">
          {{file.name}}
        </a>
        <span *ngIf="file.size!=='-'" >{{file.name}}</span>
      </td>
      <td> 
          {{file.commitMessage}}
      </td>
      <td>{{file.lastModifiedDate}}</td>
      <td>{{file.changedBy}}</td>
    </tr>
  </table>
</div>